/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

/* Estilos del body */
body {
    padding-left: 3%;
    background-color: #1F1F1F;
    font-family: 'Nunito', sans-serif;
}

/* Estilos del contenedor de texto e imagen */
.text-image-container {
    display: flex;
    align-items: flex-end;
    justify-content: start;
}

.text-image-container h1 {
    margin: 0;
    font-size: 95px;
    color: rgba(225, 225, 225, 0.01); /* Color de texto transparente */
    background-image: url("assets/wallpaperjpg");
    background-repeat: repeat;
    background-clip: text;
    text-transform: uppercase;
    font-weight: 900;
}


.text-image-container span { 
    display: inline-block;
}

@supports (-moz-appearance:none) {
    /* Estilos o animaciones específicas para Firefox */
    .text-image-container span {
        animation: waviy 1s;
        animation-delay: calc(.05s * var(--i));
    }
}

span.special-space {
    display: inline-block;
    width: 10em; /* Ajusta el ancho según sea necesario */
    visibility: hidden;
}

@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-25px)
    }
  }

/* Estilos de los encabezados y texto */
.falacy-of-the-day-indicator,
.part-text {
    padding-top: 35px;
    font-size: 22px; /* Puedes cambiar esto según tus preferencias */
}

.falacy-of-the-day-indicator {
    color: #ECE5D3;
}

.part-text {
    color: #ECE5D3; /* Cambiar el color al mismo que falacy-of-the-day-indicator */
}

.large-text {
    padding-top: 0; /* Ajuste del padding-top a 0 */
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: #B9B09F;
}

.large-text::before {
    content: "\00B7";
    margin-right: 5px;
}

/* Estilos del fondo y efecto de desenfoque */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -10;
}

#blur_effect {
    z-index: -10;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 350px;
    opacity: 0.6;
    background-color: #B9B09F;
    filter: blur(100px);
    animation: infinite breath_effect 15s;
}

@keyframes breath_effect {
    0%, 50%, 100% {
        background-color: #B9B09F;
        width: 350px;
        height: 350px;
    }
    25%, 75% {
        background-color: #ECE5D3;
        width: 370px;
        height: 370px;
    }
}


.bottom-bar{
  width: 95%;
  position: absolute;
  bottom: 0px;
  left: 50%; /* Posición horizontal en el centro */
  transform: translateX(-50%); /* Centrar horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  color: #B9B09F;
  border-width: 3px 0px 0px 0px;
}

#icon_image {
  width: 50px;
  margin: 10px 10px;
}
